/* Reset CSS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --blueColor-1: #00ADD6;
  --blueColor-2: #3641b7;
  --blueColor-3: #42caff;
  --orange: #EC6622;
  --purple: #93328E;
  --redColor1: #EE2737;
  --greenColor1: #00A810;
  --borderColor: #eeefff;
  --black: #121713;
  --grey: #232424;
  --grey2: #494646;
  --white: #fff;
  --customColor: #00AA13;
  --transition-1: all 300ms ease-in-out;
  --transition-2: all 500ms ease-in-out;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}


/* Color Control */
.control {
  position: fixed;
  right: -3rem;
  top: 15%;
  transition: var(--transition-1);
  z-index: 1000;
  
}

.control.open {
  right: 0;
}

.control .widget {
  position: absolute;
  left: -3rem;
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem 0.7rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #fff;
}

.control .widget i {
  font-size: 1.5rem;
  animation: spin 2s linear infinite;
  color: #121713;
}

@keyframes spin {
  0% {
    tranform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.control .colors {
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.control .colors span {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0.7rem;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.control .colors span:not(:last-child) {
  margin-bottom: 0.7rem;
}

.control .colors span:nth-child(1) {
  background-color: var(--greenColor1);
}
.control .colors span:nth-child(2) {
  background-color: var(--blueColor-1);
}
.control .colors span:nth-child(3) {
  background-color: var(--redColor1);
}
.control .colors span:nth-child(4) {
  background-color: var(--orange);
}
.control .colors span:nth-child(5) {
  background-color: var(--purple);
}

/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 100%;

  /*========== Colors ==========*/
  --first-color: #000;
  --first-color-light: #0093D9;
  --title-color: #000000;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #000000;
  --container-color:#ffffff; 

  /*========== Font and typography ==========*/
  --body-font: 'Arial', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 101;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1.6rem 1.6rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #ffffff;
  color: var(--text-color);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
    border-radius:0px 0px 15px 15px;
  
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}
.header__img {
  position:relative;
  width:38px;
  height: 38px;
  left:2%;
top:5px;
padding:4px;
background:var(--customColor);
border-radius:50%;
}
	
.nama-pengguna {
		width:auto%;
		height :5;
		padding:5px 10px;
		font-family: Arial;
     font-weight: bold;
		font-size:13px;
     background-color: #ff000000;
		color:#4F4F4F;
		position:fixed;
		top:7px;
		left:15%;
		z-index: 2;
		border-radius: 10px;
		box-shadow: 0 0 0px #ffffff;

	}

.header__toggle {
  color: #000;
  margin-top:1;
   margin-right:14;
}


.nav1 {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  z-index: 99999999;
  transition: .4s;
}

.nav1__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav1__container::-webkit-scrollbar {
  display: none;
}

.nav1__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav1__list, 
.nav1__items {
  display: grid;
}

.nav1__list {
  row-gap: 2.5rem;
}

.nav1__items {
  row-gap: 1.5rem;
}

.nav1__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav1__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav1__link:hover {
  color: var(--text-color);
}

.nav1__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.header__profil {
  position:relative;
  width: 95px;
  border-radius: 0%;
  top:0px;
  left:0%;
}

.nav1__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
  
}

.nav1__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav1__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav1__dropdown-collapse {
  background-color: var(--customColor);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav1__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav1__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav1__dropdown-item:hover {
  color: var(--first-color);
}

.nav1__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav1__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav1__dropdown:hover .nav1__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
  background:var(--customColor);
  width:20px;
  border-radius:18px;
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(231, 48%, 56%);
  --title-color: hsl(231, 24%, 20%);
  --text-color: hsl(231, 4%, 45%);
  --body-color: hsl(231, 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Arial', sans-serif;
  --tiny-font-size: .625rem;
}

@media screen and (min-width: 968px) {
  :root {
    --tiny-font-size: .688rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== NAVBAR ===============*/
.container {
  max-width: 968px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*Remove the property of 100vh, when inserting its content*/
.container section {
  height: 100vh;
  padding: 2rem 0;
}

.container h2 {
  text-align: center;
  color: var(--title-color);
}

.nav {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 328px;
  height: 72px;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
  margin: 0 auto;
  padding: 1.5rem .5rem;
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
  overflow: hidden;
}

.nav__list {
  display: flex;
  justify-content: center;
  column-gap: 3.4rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link i {
  font-size: 1.5rem;
  color: grey;
  z-index: 20;
  transition: .3s;
}

.nav__name {
  font-size: 12px;
  position: absolute;
  font-weight: 500;
  transition: .4s;
  transform: translateY(50px);
  z-index: 20;
  color: var(--body-color);
  opacity: 0;
}

/* Indicator link */
.indicator {
  position: absolute;
  left: 5px;
  bottom: 0;
  fill: var(--customColor);
  transition: .3s;
}

/* Active link */
.active-link i {
  color: var(--body-color);
}

.active-link .nav__name {
  opacity: 1;
  transform: translateY(28px);
}

/* Move indicator */
.nav__link:nth-child(1).active-link ~ .indicator {
  transform: translateX(calc(56px * 0));
}

.nav__link:nth-child(2).active-link ~ .indicator {
  transform: translateX(calc(75px * 1));
}

.nav__link:nth-child(3).active-link ~ .indicator {
  transform: translateX(calc(74px * 2));
}

.nav__link:nth-child(4).active-link ~ .indicator {
  transform: translateX(calc(74px * 3));
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav {
    zoom: .8;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    zoom: 1.1;
  }
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relativ;
  margin-top: -11.4%;
}

/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin-top: 0 9;
  background-color: grey;
  border-radius: 61%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.activee {
  background-color:var(--customColor);
  width:28px;
  border-radius:20px;
  
}
.dotdark{
background-color:azure;
}
.activeedark{background-color:white}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.fflexx-container {
  display: flex;
  position:relative;
  Max-widht:100%;
  top: 15;
 
}
.fflexx-container > div {
 
  width: 100px;
  text-align: center;
  line-height: 1px;
  flex:1;
  margin:0px;
}
​@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}


li {
	list-style: none;
}

.container123 {
	max-width: 5000px;
	width: 100%;
margin-left:5px;
	background: #ff000000;
	padding: 0px;
	border-radius: 0px;
	margin-top:-12%;
}



.tab1-menu {
width:100%;
	display: flex;
	grid-gap: 20px;
	padding: 0 10px 10px;
	
	position: relative;
	flex-wrap: wrap;
}
.tab1-menu > li {
	position: relative;
	cursor: pointer;
	color: grey;
	transition: all .3s ease;
	white-space: nowrap;
margin-left:-15px;
margin-right:8px;
font-size:15px;
}
.tab1-menu > li:hover {
	color: var(--dark);
}
.tab1-menu > li.active123 {
	color: #000;
font-weight:440;
font-size:16px;
}


.tab1-menu .line123 {
	position: absolute;
	bottom: 0;
	left: 1px;
	height: 2px;
	background: var(--customColor);
	transition: all .3s ease;
}
.content123 {
	padding: 0px 0px 0;
	display: none;
}
.content123.active123 {
	display: block;
}
.content123 h2 {
	font-size: 20px;
	font-weight: 600;
	color: var(--secondary);
	margin-bottom: 10px;
}
.content123 p {
	margin-bottom: 10px;
	color: var(--dark);	
}
body {
  font-family: "Arial", Tahoma, Geneva, Verdana, sans-serif;
}

.containerrr {
  width: 96%;
  margin-left: 0px;
margin-top:-12%;

}

.btn {
  padding: 0.2rem 0.6rem;
  border: 1px solid var(--customColor);
  border-radius: 11px;
  margin-left:0px;
  margin-top:0px;
  cursor: pointer;
  outline: none;
background:#fff;
font-size:14px;

margin:3px;

}

.btn:activeee {
  transform: scale(0.9);
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 100%;
height:100%;

  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.2s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 0px;
  z-index: 2;
  background-color: #fff;
}

.modal.activeee {
  top: 55%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color:#000;
  
  padding: 2rem;
  background-color: #fff;
}

.modal .body {
  padding: 0.75rem;
  margin-top:12%;
  color:#000000;
height:80%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.activeee {
  display: block;
}

.material .profile{
	padding:15px;
	right:19px;
	position:fixed;
top:80%;
}



.material .profile .links,
.material .profile .toggle,
.material .profile .links a{
	bottom:0px;
	z-index:8;
	right:31px;
	width:45px;
	height:45px;
	border-radius:50%;
	position:absolute;
	
	
}
.material .profile .plus{
	display:none;
}
.material .profile .toggle{
	z-index:10;
	background:var(--customColor)
	
	
	;
	
	transition:all .2s ease-in-out 0s;
}
.material .profile .toggle:before,
.material .profile .toggle:after{
	top:50%;
	left:50%;
	content:'';
	background:#fff;
	position:inherit;
}
.material .profile .toggle:before{
	width:12px;
	height:1px;
	margin-top:-0.5px;
	margin-left:-6px;
}
.material .profile .toggle:after{
	width:1px;
	height:12px;
	margin-top:-6px;
	margin-left:-0.5px;
}
.material .profile .links a{
	bottom:5px;
	font-size:20px;
	z-index:8;
	right:6px;
	width:35px;
	height:35px;
	color:#000;
	background:#eee;
	text-align:center;
	float:center;
margin-top:15px;
	-webkit-transform:none;
	transform:none;
	line-height:40px;
	transition:all .3s ease-in-out 0s;
}
.material .profile .links a:before{
	top:50%;
	right:40px;
	color:#fff;
	height:20px;
	opacity:0;
	font-size:12px;
	min-width:65px;
	margin-top:-10px;
	line-height:20px;
	position:inherit;
	border-radius:2px;
	content:attr(data-title);
	background:rgba(0,0,0,.4);
	transition:all .4s ease-in-out 0s;
}
.material .profile .plus:checked + .toggle{
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}

.material .profile .plus:checked + .toggle + .links a:nth-child(1){
	-webkit-transform:translate(0,-48px);
	transform:translate(0,-48px);
	transition-duration:.4s;
}
.material .profile .plus:checked + .toggle + .links a:nth-child(2){
	-webkit-transform:translate(0,-87px);
	transform:translate(0,-87px);
	transition-duration:.3s;
}

.material .profile .plus:checked + .toggle + .links a:before{
	opacity:1;
	-webkit-transform:translate(-5px,0);
	transform:translate(-5px,0);
}
.material .profile .plus:checked + .toggle + .links a:nth-child(1):before{
	transition-duration:.95s;
}
.material .profile .plus:checked + .toggle + .links a:nth-child(2):before{
	transition-duration:.85s;
}
.material .profile .plus:checked + .toggle + .links a:nth-child(3):before{
	transition-duration:.75s;
}
.material .profile .plus:checked + .toggle + .links a:nth-child(4):before{
	transition-duration:.65s;
}

/* CSS Multiple Whatsapp Chat */ #whatsapp-chat{position:fixed;background:#fff;width:350px;box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
border-radius:10px;bottom:110px;right:10px;overflow:hidden;z-index:99;animation-name:showchat;animation-duration:1s;transform:scale(1)}
a.blantershow-chat{background:linear-gradient(to right top,#fff,#fff);color:green;z-index:198;

}a.blantershow-chat i{transform:scale(1.5);margin:0 0px 0 0}.header-chat{background:var(--customColor);color:#fff;padding:20px}.header-chat h3{margin:0 0 10px}.header-chat p{font-size:14px;line-height:1.7;margin:0}
.info-avatar{position:relative}.info-avatar img{border-radius:100%;width:50px;float:left;padding:3px;margin:0 10px 0 0}.info-avatar:before{content:'\f232';z-index:1;font-family:"Font Awesome 5 Brands";background:#23ab23;color:#fff;padding:5px 5px;border-radius:100%;position:absolute;top:30px;left:30px}a.informasi{padding:20px;display:block;overflow:hidden;animation-name:showhide;animation-duration:2.5s}a.informasi:hover{background:#fff}.info-chat span{display:block}#get-label,span.chat-label{font-size:12px;color:#000}#get-nama,span.chat-nama{margin:5px 0 0;font-size:15px;font-weight:700;color:#000}#get-label,#get-nama{color:#fff}span.my-number{display:none}
.blanter-msg{color:#000;padding:20px;font-size:12.5px;text-align:center;border-top:1px solid #fff}textarea#chat-input{color:#000;border:none;font-family:'Arial',sans-serif;border-radius:5px;background:#ff000000;box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);width:100%;height:35px;outline:none;resize:none}
a#send-it{color:#000;width:40px;margin:-5px 0 0 5px;font-weight:700;padding:8px;background:#ff000000;border-radius:10px}
.first-msg{background:rgb(146 151 179 / 13%);padding:30px;text-align:center}.first-msg span{background:#ff000000;color:#000;box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);font-size:14.2px;line-height:1.7;border-radius:10px;padding:15px 20px;display:inline-block}
.start-chat .blanter-msg{display:flex}#get-number{display:none}a.close-chat{position:absolute;top:5px;right:15px;color:#fff;font-size:30px}@keyframes showhide{from{transform:scale(.5);opacity:0}}@keyframes showchat{from{transform:scale(0);opacity:0}}@media screen and (max-width:480px){#whatsapp-chat{width:auto;left:5%;right:5%;font-size:80%}}.hide{display:none;animation-name:showhide;animation-duration:1.5s;transform:scale(1);opacity:1}.show{display:block;animation-name:showhide;animation-duration:1.5s;transform:scale(1);opacity:1}
